<ion-header>
  <ion-toolbar>
    <ion-title>Restablecer Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Restablecer Contraseña</ion-card-title>
      <ion-card-subtitle>Ingresa tu nombre de usuario</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <!-- Formulario para restablecer contraseña -->
      <form (submit)="resetPassword()">
        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input [(ngModel)]="username" name="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nueva Contraseña</ion-label>
          <ion-input [(ngModel)]="newPassword" type="password" name="newPassword" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input [(ngModel)]="confirmPassword" type="password" name="confirmPassword" required></ion-input>
        </ion-item>

        <ion-button expand="full" type="submit" color="tertiary">CAMBIAR CONTRASEÑA</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
